.home {
  text-decoration: none;
  color: var(--black);
}

.home:hover {
  background-color: var(--aquamarine);
  color: inherit;
}

#contact-sections {
  display: flex;
  justify-content: space-between;
  margin: 2% auto 2% auto;
}
.direct-email{
  margin-left: 75%;
  font-size: 0.9rem;
  /* text-decoration: underline; */
}
.contact-header{
 
  justify-content: space-between;
  display: flex;
  /* text-decoration: none;
  border: none; */
}
.contact-circle-question{
  background-color: var(--mint);

}

.contact-bar {
  font-family: var(--OpenSansCondensed);
  background-color: var(--mint);
  opacity: 0.9;
  margin-top: 2%;
  
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 0 2% 0;
  margin-top: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 60%;

}

.contact-bar-text {
  text-decoration: none;
  color: var(--black);
  font-size: 24px;
}

.contact-bar-text:hover {
  color: inherit;
}

form {
  padding: 0 10px;
  width: 90%;
}

.contact__formContainer {
  /* margin: 10px; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background-color: var(--mint);
  font-family: var(--OpenSansCondensed);
  opacity: 0.9;
  padding: 20px;
  border-radius: 15px;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 60%;
}


.contact__h1 {
  align-self: flex-start;
}

.contact__errorText {
  color: red;
  text-shadow: 0 0 10px black;
}

.contact__submitButton {
  background: none;
  color: inherit;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.contact__submitButton:hover{
  background-color: var(--aquamarine);
}

.contact__submitButton:active {
  background-color: var(--mint);
  color: white;
}

.contact__inputContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}

.contact__inputContainer input,
textarea {
  border: 2px solid black;
  border-radius: 5px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 992px) {
  .contact-bar{
    margin-bottom: 2%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}