#resume{
    margin: 5% 0 7% 0;
    display: flex;
    justify-content: space-around;
}

.home{
  text-decoration: none;
  color: var(--black);
}
.home:hover{
  background-color: var(--aquamarine);
  color: inherit;
}

.resume-nav{
  text-decoration: line-through;
  background-color: var(--aquamarine);
  color: inherit;
}

.resume__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1024px;
    background-color: var(--mint);
    /* border: 7px solid ; */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .resume__title {
    font-size: 3vw;
  }
  
  .resume__downloadLink {
    margin-left: 10px;
    color: deepskyblue;
    text-decoration: none;
    vertical-align: middle;
    font-size: 2vw;
  }
  
  iframe {
    margin: 15px;
    border: 3px solid black;
    border-radius: 15px;
    width: 95%;
    height: 800px;
  }
  #contact-me{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  @media screen and (max-width: 1024px) {
    .resume__title {
      font-size: 4vw;
    }
    
    .resume__downloadLink {
      font-size: 4vw;
    }
  
    .resume__wrapper {
      width: 100vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .resume__title {
      margin-top: 5px;
      font-size: 5vw;
    }
    
    .resume__downloadLink {
      font-size: 5vw;
    }
  }
  
  @media screen and (max-width: 425px) {
    .resume__title {
      font-size: 6vw;
    }
    
    .resume__downloadLink {
      font-size: 6vw;
    }
  }