* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --gold: #C7BD97; original color   */
  --mint: #99EDC3;
  --seafoam: #3DED97;
  --fern: #5DBB63;
  --pistachio: #B2D3C2;
  --black: #050403;
  --aquamarine: aquamarine ;
  --OpenSansCondensed: "Open Sans Condensed", sans-serif;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: var(--tan);
  background-color: #84FFB7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(308,960,464)'%3E%3Cstop offset='0' stop-color='%2384FFB7'/%3E%3Cstop offset='1' stop-color='%2350FF6F'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.28'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

/* header and nav */
header {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--mint) ; 
  opacity: 0.9;
  width: auto;
  /* color: var(--gold); */
  padding: 20px;
  margin-top: 2%;
  border-radius: 15px;
  margin-bottom: auto;
  /* runbuddy stick header code */
  /* position: sticky;
  position: -webkit-sticky;
  top: 0; */
}
.im-collin{
  margin-left: 3%;
}
header h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5vw;
}
header a {
  text-decoration: none;
  color: var(--ylw);
}
header nav {
  margin: 7px 0;
  background-color: var(--ylw);
}
header nav ul {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  /* padding: 10px 25px; */
  font-weight: lighter;
  font-size: 1.2vw;
  color: var(--gold);
  /* hover  */
  margin: 0 20px 0 20px;
  /* background: var(--tan); */
  color: var(--black);
  border-radius: 3px;
  text-shadow: none;
  
  text-decoration: underline;
  
  transition: background-color 0.5s, text-decoration-color 0.5s;
}
header nav ul li a:hover {
background-color:  aquamarine;
color: inherit;
}
#nav1:hover {
  /* background: rgb(248,201,140);
       background: ;
      color: var(--darkgold);
      border-radius: 15px;
      text-shadow: none; */
}

#nav2:hover {
  /* background: rgb(130,210,255);
    background: ;
      color: var(--darkgold);
      border-radius: 15px;
      text-shadow: none; */
}

/* header and nav end */

/* hero */
.hero {
  background-image: url("/assets/images/main\ images/colorhero123.jpg");
  background-position: cover;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 4% 0 4% 0%;
}
.hero h2 {
  font-size: 24px;
  font-weight: bolder;
  text-align: end;
  padding-right: 3%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* hero end */

/* short bio and profile image start */
.about-me {
  width: auto;
  /* margin: 1% 1% 1% 1%; */
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  /* space-evenly */
  padding: 2% 0 2% 0;
  
}
.norm-font {
  justify-content: space-around;
  font-size: 2.5rem;
  font-family: "Open Sans Condensed", sans-serif;
}
.italicize-font {
}
.about-me-bio {
  background: var(--mint) ; 
  /* display: flex; */
  /* justify-content: space-around; */
  opacity: 0.9;
  width: 50%;
  text-align: right;
  font-size: 18px;
  /* border: 4px solid green; */
  border-radius: 15px;
}

/* need these two to keep profile picture aligned with bio */
.profile-pic {
  width: 30%;
  /* border: 4px solid var(--mint); */
  border-radius: 20px;
}
.profile-pic img {
  width: 100%;
  border: 10px solid var(--mint);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* background-image: url('../images/resize.jpg'); */
} 
/* short bio and profile image end */

/* project display */
.main {
  /* width: 96%; */
  /* margin: 4% 2% 4% 2%; */
  display: flex;
  justify-content: space-around;
  background: var(--mint) ; 
  opacity: 0.9;
  border-radius: 15px;
  font-family: var(--OpenSansCondensed);
  /* border-top: 3px solid #000000;
  border-bottom: 3px solid #000000; */
  padding: 2% 0 2% 0;
}
.project-header {
  width: 16.55%;
  text-align: right;
  font-size: 24px;
  font-weight: bolder;
}
#gradient-proj {
  width: 15px;
  background: rgb(28, 242, 245);
  background: linear-gradient(
    180deg,
    rgba(201, 169, 215, 1) 23%,
    rgba(28, 242, 245, 1) 82%
  );
  border: 0.7px solid black;
  transition: all 0.1s ease-out;
  background-size: 1px 1000px;
  background-position: 0px -10px;

  /* background: rgb(210,153,244);
    background: linear-gradient(180deg, rgba(210,153,244,1) 0%, rgba(252,251,123,1) 95%); */
  border-radius: 15px;
}

.projects {
  width: 71.5%;
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: auto; */
  margin: auto;
  justify-content: space-around;
}
.proj:first-child {
  flex-grow: 2;
  margin: 3% 15% 3% 15%;
  background-image: url("../images/Capital\ Opulence\ Screen\ Shot.png");
  background-size: cover;
  background-position: center;
  /* height: fit-content; */
  height: 400px  ;
  width: 500px; 
  border-radius: 15px;
}

.proj:first-child:hover {
  flex-grow: 2;
  margin: 3% 15% 3% 15%;
  background-image: url("../images/gifs/Capital\ Opulence\ Gif.gif");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  min-width: 575px;
  border-radius: 15px;
}
.proj {
  width: 45%;
  margin: 4% 2% 4% 2%;
  background-color: var(--ylw);
  min-height: 200px;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


.proj:nth-child(2) {
  flex-grow: 2;
  margin: 3% 15% 3% 15%;
  background-image: url("../images/Mantis-Mocha-Screenshot.png");
  background-size: cover;
  background-position: center;
  height: 400px  ;
  width: 500px; 
  border-radius: 15px;
}
.proj:nth-child(2):hover {
  flex-grow: 2;
  margin: 3% 15% 3% 15%;
  background-image: url("../images/gifs/Mantis-Mocha-Gif.gif");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  min-width: 575px; 
  border-radius: 15px;
}


.proj:nth-child(3) {
    flex-grow: 2;
    margin: 3% 15% 3% 15%;
    background-image: url("../images/Movie-Finder-Screen-Shot.png");
    background-size: cover;
    background-position: center;
    height: 400px  ;
    width: 500px; 
    border-radius: 15px;
  }
  .proj:nth-child(3):hover {
    flex-grow: 2;
    margin: 3% 15% 3% 15%;
    background-image: url("../images/gifs/Movie-Finder-Gif.gif");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    min-width: 575px; 
    border-radius: 15px;
  }


.proj:hover {
  border: 6px solid var(--black);
  color: var(--cherry);
}
.proj span {
  width: 100%;
  background-color: var(--cherry);
  color: var(--gold);
  padding: 8px 0 8px 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: 4.5px solid var(--black);
  font-size: large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
/* .proj span:hover{} */

/* project display end */

/* contact */
.contact {
  background-color: var(--black);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2% 0 2% 0;
  color: var(--gold);
  margin-top: auto;
}
.contact h3 {
  font-size: 1.7vw;
  font-weight: bolder;
  width: 100%;
  text-align: right;
}
.contact div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0;
}
.contact div p,
.contact div a {
  font-size: 1.2vw;
  padding: 10px 25px;
  text-decoration: none;
  color: var(--red);
}
/* .contact div p:hover, */
.contact div a:hover {
  color: var(--darkgold);
  background: var(--cherry);
  border-radius: 15px;
}
/* contact end */

/* test */
.knot-pattern {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#knot1 {
  border-radius: 15px;
}
#knot2 {
  border-radius: 15px;
}
/* end test */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  footer h3,
  footer div {
    text-align: center;
    width: 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 22px;
  }
  .proj {
    display: flex;
    flex-direction: column;
  }
  .proj span {
    border-radius: 15px;
  }
  header h1 {
    font-size: 4vw;
  }
  header nav ul li a {
    font-size: 3vw;
  }
  .contact h3 {
    font-size: 2.8vw;
  }
  .contact div p,
  .contact div a {
    font-size: 1.9vw;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
  body {
    width: fit-content;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    font-size: 22px;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }
  .hero h2 {
    font-size: 19px;
  }

  .header {
    border: none;
    width: 100%;
    text-align: center;
  }
  .about-me-bio {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 2% 4% 2% 4%;
    text-align: right;
  }
  .profile-pic {
    margin: 20px 0 20px 0;
    width: 52%;
    order: -1;
    align-self: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: none;
    border-bottom: none;
  }
  .proj {
    width: 100%;
  }
  .project-header {
    border-right: none;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .contact {
    width: fit-content;
  }
  .contact div h3 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact div p,
  .contact div a {
    font-size: 19px;
  }
}

/* background: rgb(28,242,245);
    background: linear-gradient(90deg, rgba(28,242,245,1) 25%, rgba(210,153,244,1) 64%);
     */
