* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* --red: #AA2E44;     */
    /* --lghtred: #fab1a0; */
    /* --orng3: #F9AD57; */
    /* --ylw: #F5D463; */
    /* --purp: #C6C1FF; */
    /* --blk: #000000; */
    --red: #C7BD97;
    --lghtred: #F8C98C;
    --orng3: #B67650;
    --ylw:  #050403;
    --purp:  ;


}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lghtred);
}



/* header and nav */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--ylw);
    width: 100%;
    color: var(--red);
    padding: 27px;
    margin: 0;
    /* runbuddy stick header code */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
header h1 {
    font-size: 2vw;
}
header a {
    text-decoration: none;
    color: var(--ylw);
}
header nav {
    margin: 7px 0;
    background-color: var(--ylw);

}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 25px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--red);
  }
  header nav ul li a:hover {
      background: var(--orng3);
      color: var(--purp);
      border-radius: 15px;
      text-shadow: none;
}
/* header and nav end */



/* hero */
.hero {
    background-image: url(./images/colorhero123.jpg);
    background-position: cover;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 4% 0 4% 0%;
}
.hero h2 {
    text-align: end;
    padding-right: 3%;
    
}
/* hero end */



/* bio */
.about-me {
width: 96%;
margin: 4% 2% 4% 2%;
display: flex;
justify-content: space-around;
border-top: 3px solid #000000;
border-bottom: 3px solid #000000;
padding: 2% 0 2% 0;
}
.header {
width: 15%;
text-align: right;
border-right: 3px solid #000000;
padding-right: 4%;
font-size: 24px;
font-weight: bolder;
}
.about-me-bio {
     width: 50%;
     text-align: right;
     font-size: 18px;
}
.profile-pic {
width: 15%;
}
.profile-pic img {
    width: 100%;
    border: 10px solid #000000;
    border-radius: 15px;
}
/* bio end */



/* project display */
.main {
width: 96%;
margin: 4% 2% 4% 2%;
display: flex;
justify-content: space-around;
border-top: 3px solid #000000;
border-bottom: 3px solid #000000;
padding: 2% 0 2% 0;
}
.project-header {
    width: 15%;
    text-align: right;
    border-right: 3px solid #000000;
    padding-right: 4%;
    font-size: 24px;
    font-weight: bolder;
}
.projects {
    width: 71.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.proj:first-child {
    flex-grow: 2;
    margin: 0 15% 0 15%;
    background-image: url(./images/runbuddy-portfolio-img.jpg);
    background-size: cover;
    background-position: center;
    min-height: 275px;
    border-radius: 15px;
} 
.proj {
    width: 45%;
    margin: 4% 2% 4% 2%;
    background-color: var(--ylw);
    min-height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

.proj:nth-child(2) {
    background-image: url(./images/Matrix-Numbers.jpg);
    background-size: cover;
    background-position: center;

}
.proj:nth-child(3) {
    background-image: url(./images/download.jpg);
    background-size: cover;
    background-position: center;


}
.proj:nth-child(4) {
    background-image: url(./images/1_gS5wa1Xn_zjuRMORDhPkcw.jpg);
    background-size: cover;
    background-position: center;

}

.proj:last-child {
    background-image: url(./images/Jojo\ Pen\ -\ Copy.jpg);
    background-size: cover;
    background-position: center;
}
.proj:hover{
    border:8px solid var(--ylw);
    color: #B67650;
}
.proj span {
    width: 100%;
    background-color: var(--ylw);
    color: var(--red);
    padding: 8px 0 8px 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 4.5px solid var(--red);
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    
}
 /* .proj span:hover{} */
   
    
/* project display end */



/* contact */
.contact {
      background-color: var(--ylw);
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 2% 0 2% 0;
      color: var(--red);
  }
.contact h3 {
      font-size: 1.70vw;
      font-weight: bolder;
      width: 100%;
      text-align: right;
}
.contact div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 0;
}
.contact div p, .contact div a {
    font-size: 1.20vw;
    padding: 10px 25px;
    text-decoration: none;
    color: var(--red);
}
.contact div p:hover, .contact div a:hover {
color: var(--purp);
background: var(--orng3);
border-radius: 15px;
}
/* contact end */



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

header {
    justify-content: center;
    position: relative;
}
header h1 {
    width: 100%; 
    text-align: center;
}
header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
footer h3, footer div {
    text-align: center;
    width: 100%;
}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {


.hero h2 {
    font-size: 22px;
}
.proj {
    display: flex;
    flex-direction: column;
}
.proj span {
    border-radius: 15px;
}
header h1{
    font-size: 4vw;
}
header nav ul li a {
    font-size: 3vw;
}
.contact h3 {
    font-size: 2.8vw;
}
.contact div p, .contact div a{
    font-size: 1.9vw;
}
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {

    .about-me {
        display: flex;
        flex-direction: column;
    }
    .header {
        width: 100%;
        border: none;
        text-align: center;
        order: -1;
    }
    .about-me-bio{
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: 2% 4% 2% 4%;
        text-align: right;
    }
    .profile-pic {
        margin: 20px 0 20px 0;
        width: 52%;
        order: -1;
        align-self: center;
        
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: none;
    }
    .proj {
        width: 100%;
    }
    .project-header {
        border-right: none;
        margin-bottom: 20px;
    }
}


/* background: rgb(28,242,245);
    background: linear-gradient(90deg, rgba(28,242,245,1) 25%, rgba(210,153,244,1) 64%);
     */