* {

    /*  what is this box border? */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --red: #AA2E44;
    --lghtred: #fab1a0;
    --orng3: #F9AD57;
    --ylw: #F5D463;
    --purp: #C6C1FF;
    --blk: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lghtred);
}

/* header and nav */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--ylw);
    width: 100%;
    color: var(--red);
    padding: 27px;
    margin: 0;

    /* runbuddy stick header code */
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    /* rainbow hero header */
 /* background-image: url("./images/colorhero123.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999; */
    
}

header a {
    text-decoration: none;
    color: var(--ylw);
}

header nav {
    margin: 7px 0;
    background-color: var(--ylw);

}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 25px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--red);
  }
  
  header nav ul li a:hover {
      background: var(--orng3);
      color: var(--purp);
      border-radius: 15px;
      text-shadow: none;
      
  }

  /* header and nav end */

/* hero */
.hero {
    background-image: url(./images/colorhero123.jpg);
    background-position: cover;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 4% 0 4% 0%;
}
.hero h2 {
    text-align: end;
    padding-right: 3%;
    
}


/* hero end */

/* bio */




.about-me {
width: 100%;
margin: 4% 0 0 0;
display: flex;
justify-content: space-around;
border-top: 3px solid #000000;
border-bottom: 3px solid #000000;
padding: 2% 0 2% 0;


}
.header {
width: 15%;
text-align: right;
border-right: 3px solid #000000;
padding-right: 4%;
font-size: 24px;
font-weight: bolder;



}

.about-me-bio {
     width: 50%;
     text-align: right;
     font-size: 18px;
     

}
.profile-pic {
width: 15%;
height: auto;
border: 10px solid #000000;
border-radius: 15px;

}
.profile-pic img {
    width: 100%;
    height: 100%;
}














/* .about-me {
    display: flex;
    flex-direction: row;
    margin: 40px 20px 40px 20px
}



.about-me h3 {
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    width: 15%;
    
}

.about-me-header {
    
    border-right: 3px solid var(--purp);
}

.about-me img {
    width: 275px;
    height: 350px;
    border: 7px solid var(--orng3);
    border-radius: 15px;
    
}

.am {
    width: auto;
}

.about-me p {
    width: 85%;
    text-align: right;
    display: flex;
    margin: 20px 20px 20px 20px;
}


 */

/* bio end */

/* project display */

.main {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border-top: 7px solid var(--orng3);
    border-bottom: 7px solid var(--orng3);
}

/*.main h3 {
    border-right:15px solid var(--purp);

}*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.flex-item {
    width: 45%;
    border-radius: 15px;
    border: 15px solid var(--orng3);
    background-color: cyan;
    min-height: 250px;
    padding: 20px 0;
    align-items: flex-end;
}

.flex-item:first-child {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    margin: 0 20% 0 20%;
    background-image: url(./images/runbuddy-portfolio-img.jpg);
    background-position: center;
    background-size: cover;
}

.run-buddy {
width: 100%;
}








/*background-image: url(./images/runbuddy-portfolio-img.jpg);

/* project display end */


  /* contact */
  .contact {
      background-color: var(--ylw);
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 20px;

  }
     .contact div {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin: 7px 0;

}
/* contact end */