* {

    /*  what is this box border? */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --red: #AA2E44;
    --lghtred: #D94865;
    --orng3: #F9AD57;
    --ylw: #F5D463;
    --purp: #C6C1FF;
    --blk: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lghtred);
}

/* header and nav */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--ylw);
    width: 100%;
    color: var(--red);
    padding: 27px;
    margin: 0;
    
}

header a {
    text-decoration: none;
    color: var(--ylw);
}

header nav {
    margin: 7px 0;
    background-color: var(--ylw);

}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 25px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--red);
  }

  /* header and nav end */

/* hero */
.hero {
    background-color: var(--purp);
    width: 100%;
    margin: 0;
    padding: 40px;
}
.hero h2 {
    text-align: end;
}

/* hero end */


/* project display */

.project-display h3 {
    border-right:15px solid var(--purp);
    margin: 50px 20px 0 15px;
}

.project-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.project-display img {
    border: 7px solid var(--orng3);
    border-radius: 15px;
}
.project-display:first-child {
    
    justify-content: center;
    width: 200px;
    padding-right: 100px;
}

/* project display end */


  /* contact */
  .contact {
      background-color: var(--ylw);
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 20px;

  }
     .contact div {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin: 7px 0;

}
/* contact end */